In [1]:
import findspark
findspark.init()
findspark.find()
import pyspark

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType

In [3]:
spark = SparkSession.builder.appName("ScalaToPySpark").getOrCreate()
sc = spark.sparkContext

In [4]:
data = sc.parallelize(range(1, 41))

In [5]:
newdata = data.map(lambda x: (x, x * x))

In [6]:
dfobj = newdata.toDF()

In [7]:
print(dfobj.collect())

[Row(_1=1, _2=1), Row(_1=2, _2=4), Row(_1=3, _2=9), Row(_1=4, _2=16), Row(_1=5, _2=25), Row(_1=6, _2=36), Row(_1=7, _2=49), Row(_1=8, _2=64), Row(_1=9, _2=81), Row(_1=10, _2=100), Row(_1=11, _2=121), Row(_1=12, _2=144), Row(_1=13, _2=169), Row(_1=14, _2=196), Row(_1=15, _2=225), Row(_1=16, _2=256), Row(_1=17, _2=289), Row(_1=18, _2=324), Row(_1=19, _2=361), Row(_1=20, _2=400), Row(_1=21, _2=441), Row(_1=22, _2=484), Row(_1=23, _2=529), Row(_1=24, _2=576), Row(_1=25, _2=625), Row(_1=26, _2=676), Row(_1=27, _2=729), Row(_1=28, _2=784), Row(_1=29, _2=841), Row(_1=30, _2=900), Row(_1=31, _2=961), Row(_1=32, _2=1024), Row(_1=33, _2=1089), Row(_1=34, _2=1156), Row(_1=35, _2=1225), Row(_1=36, _2=1296), Row(_1=37, _2=1369), Row(_1=38, _2=1444), Row(_1=39, _2=1521), Row(_1=40, _2=1600)]

In [8]:
dfobj.show()

+---+---+
| _1| _2|
+---+---+
|  1|  1|
|  2|  4|
|  3|  9|
|  4| 16|
|  5| 25|
|  6| 36|
|  7| 49|
|  8| 64|
|  9| 81|
| 10|100|
| 11|121|
| 12|144|
| 13|169|
| 14|196|
| 15|225|
| 16|256|
| 17|289|
| 18|324|
| 19|361|
| 20|400|
+---+---+
only showing top 20 rows

In [9]:
dfobj.count()

40

In [10]:
dfobj.show(40)

+---+----+
| _1|  _2|
+---+----+
|  1|   1|
|  2|   4|
|  3|   9|
|  4|  16|
|  5|  25|
|  6|  36|
|  7|  49|
|  8|  64|
|  9|  81|
| 10| 100|
| 11| 121|
| 12| 144|
| 13| 169|
| 14| 196|
| 15| 225|
| 16| 256|
| 17| 289|
| 18| 324|
| 19| 361|
| 20| 400|
| 21| 441|
| 22| 484|
| 23| 529|
| 24| 576|
| 25| 625|
| 26| 676|
| 27| 729|
| 28| 784|
| 29| 841|
| 30| 900|
| 31| 961|
| 32|1024|
| 33|1089|
| 34|1156|
| 35|1225|
| 36|1296|
| 37|1369|
| 38|1444|
| 39|1521|
| 40|1600|
+---+----+

In [11]:
spark.sql("show tables")

DataFrame[namespace: string, tableName: string, isTemporary: boolean]

In [12]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [13]:
dfobj.registerTempTable("numtable") #This registers your DataFrame as a temporary SQL table named "numtable", allowing you to run SQL queries on it.

C:\spark-3.5.6-bin-hadoop3\python\pyspark\sql\dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [14]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         | numtable|       true|
+---------+---------+-----------+

In [15]:
spark.sql("SELECT * FROM numtable").show()

+---+---+
| _1| _2|
+---+---+
|  1|  1|
|  2|  4|
|  3|  9|
|  4| 16|
|  5| 25|
|  6| 36|
|  7| 49|
|  8| 64|
|  9| 81|
| 10|100|
| 11|121|
| 12|144|
| 13|169|
| 14|196|
| 15|225|
| 16|256|
| 17|289|
| 18|324|
| 19|361|
| 20|400|
+---+---+
only showing top 20 rows

In [16]:
spark.sql("SELECT * FROM numtable where _1 > 10 and _2 < 1000").show(25)

+---+---+
| _1| _2|
+---+---+
| 11|121|
| 12|144|
| 13|169|
| 14|196|
| 15|225|
| 16|256|
| 17|289|
| 18|324|
| 19|361|
| 20|400|
| 21|441|
| 22|484|
| 23|529|
| 24|576|
| 25|625|
| 26|676|
| 27|729|
| 28|784|
| 29|841|
| 30|900|
| 31|961|
+---+---+

In [17]:
newdata1 = data.map(lambda x: (x, (x + 100)))

In [18]:
df = newdata1.toDF(["number","IncrNum"])

In [19]:
df.registerTempTable("newNumTab")

In [20]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |newnumtab|       true|
|         | numtable|       true|
+---------+---------+-----------+

In [21]:
df.show()

+------+-------+
|number|IncrNum|
+------+-------+
|     1|    101|
|     2|    102|
|     3|    103|
|     4|    104|
|     5|    105|
|     6|    106|
|     7|    107|
|     8|    108|
|     9|    109|
|    10|    110|
|    11|    111|
|    12|    112|
|    13|    113|
|    14|    114|
|    15|    115|
|    16|    116|
|    17|    117|
|    18|    118|
|    19|    119|
|    20|    120|
+------+-------+
only showing top 20 rows

In [22]:
spark.sql("select * from newnumtab where IncrNum > 121").show()

+------+-------+
|number|IncrNum|
+------+-------+
|    22|    122|
|    23|    123|
|    24|    124|
|    25|    125|
|    26|    126|
|    27|    127|
|    28|    128|
|    29|    129|
|    30|    130|
|    31|    131|
|    32|    132|
|    33|    133|
|    34|    134|
|    35|    135|
|    36|    136|
|    37|    137|
|    38|    138|
|    39|    139|
|    40|    140|
+------+-------+

In [23]:
newdata2 = data.map(lambda x: (x, x * x, x * x * x))

In [24]:
df1 = newdata2.toDF(["num","square","cube"])

In [25]:
df1.show()

+---+------+----+
|num|square|cube|
+---+------+----+
|  1|     1|   1|
|  2|     4|   8|
|  3|     9|  27|
|  4|    16|  64|
|  5|    25| 125|
|  6|    36| 216|
|  7|    49| 343|
|  8|    64| 512|
|  9|    81| 729|
| 10|   100|1000|
| 11|   121|1331|
| 12|   144|1728|
| 13|   169|2197|
| 14|   196|2744|
| 15|   225|3375|
| 16|   256|4096|
| 17|   289|4913|
| 18|   324|5832|
| 19|   361|6859|
| 20|   400|8000|
+---+------+----+
only showing top 20 rows

In [26]:
df1.registerTempTable("newNumTab1")

In [27]:
spark.sql("show tables").show()

+---------+----------+-----------+
|namespace| tableName|isTemporary|
+---------+----------+-----------+
|         | newnumtab|       true|
|         |newnumtab1|       true|
|         |  numtable|       true|
+---------+----------+-----------+

In [28]:
spark.sql("select * from newnumtab1 where num > 10 and cube < 9000").show()

+---+------+----+
|num|square|cube|
+---+------+----+
| 11|   121|1331|
| 12|   144|1728|
| 13|   169|2197|
| 14|   196|2744|
| 15|   225|3375|
| 16|   256|4096|
| 17|   289|4913|
| 18|   324|5832|
| 19|   361|6859|
| 20|   400|8000|
+---+------+----+

In [29]:
file = sc.textFile("empData.csv")

In [30]:
splitFile = file.map(lambda x: x.split(","))

In [31]:
df = splitFile.toDF()

In [32]:
df.show()

+----+-------+-----+
|  _1|     _2|   _3|
+----+-------+-----+
|1000|  Gopal|12000|
|1001|Krishna|14000|
|1002|   Ravi|16000|
|1002|  Ramya|24000|
|1003| Rakesh|34000|
|1004| Rajesh|22000|
|1005|Mounika|24000|
|1006| Sravya|26000|
|1007|   Siya|24000|
|1008| Bhavya|30000|
|1009|Trinath|34000|
+----+-------+-----+

In [33]:
mappingFile = splitFile.map(lambda x: (int(x[0].strip()) if x[0].strip().isdigit() else 0,
                                       x[1].strip(),
                                       int(x[2].strip()) if x[2].strip().isdigit() else 0)) #strip function is used to remove the extra spaces in the id and salary column

In [34]:
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("sal", IntegerType(), True)
])

In [35]:
df = spark.createDataFrame(mappingFile, schema=schema)

In [36]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- sal: integer (nullable = true)

In [37]:
df.show()

+----+-------+-----+
|  id|   name|  sal|
+----+-------+-----+
|1000|  Gopal|12000|
|1001|Krishna|14000|
|1002|   Ravi|16000|
|1002|  Ramya|24000|
|1003| Rakesh|34000|
|1004| Rajesh|22000|
|1005|Mounika|24000|
|1006| Sravya|26000|
|1007|   Siya|24000|
|1008| Bhavya|30000|
|1009|Trinath|34000|
+----+-------+-----+

In [38]:
df.registerTempTable("empTable")

In [39]:
spark.sql("show tables").show()

+---------+----------+-----------+
|namespace| tableName|isTemporary|
+---------+----------+-----------+
|         |  emptable|       true|
|         | newnumtab|       true|
|         |newnumtab1|       true|
|         |  numtable|       true|
+---------+----------+-----------+

In [40]:
spark.sql("select * from emptable where sal > 24000").show()

+----+-------+-----+
|  id|   name|  sal|
+----+-------+-----+
|1003| Rakesh|34000|
|1006| Sravya|26000|
|1008| Bhavya|30000|
|1009|Trinath|34000|
+----+-------+-----+

In [41]:
file1 = sc.textFile("AccountDetails.txt")

In [42]:
splitFile =  file1.map(lambda x: x.split(","))

In [43]:
schema = StructType([
    StructField("accId", IntegerType(), True),
    StructField("accHoldName", StringType(), True),
    StructField("typeOfAcc", StringType(), True),
    StructField("bank", StringType(), True),
    StructField("amount", DoubleType(), True),    
])

In [44]:
mappingFile = splitFile.map(lambda x: (int(x[0].strip()) if x[0].strip().isdigit() else 0,
                                       x[1],
                                       x[2],
                                       x[3],
                                       float(x[4].strip()) if x[4].strip().isdigit() else 0.0))

In [45]:
df = spark.createDataFrame(mappingFile, schema=schema)

In [46]:
df.printSchema()

root
 |-- accId: integer (nullable = true)
 |-- accHoldName: string (nullable = true)
 |-- typeOfAcc: string (nullable = true)
 |-- bank: string (nullable = true)
 |-- amount: double (nullable = true)

In [47]:
df.show()

+-----+-----------+---------+-----+-------+
|accId|accHoldName|typeOfAcc| bank| amount|
+-----+-----------+---------+-----+-------+
|10101|      Gopal|  Savings|ICICI|50000.0|
|10201|    Krishna|  Current|  SBI|56000.0|
|10301|       Ravi|  Savings| HDFC|67000.0|
|20201|      Ramya|  Savings|  SBI|89000.0|
|30303|      Radha|    Fixed|ICICI|56000.0|
|50607|      Sruth|  Current| AXIS|45000.0|
|70007|     Nalini|    Fixed| HDFC|66000.0|
|33333|        Raj|  Savings| AXIS|59500.0|
|20201|      Ramya|  Savings|  SBI|89000.0|
|55303|     Rakhee|    Fixed|ICICI|56000.0|
|50607|   Santhosh|  Current| AXIS|45000.0|
|88007|     Nandha|    Fixed| HDFC|65900.0|
|44333|        Raj|  Savings|  SBI|79500.0|
|10101|      Gopal|  Savings|ICICI|50000.0|
|10201|    Krishna|  Current|  SBI|56000.0|
|10301|       Ravi|  Savings| HDFC|67000.0|
|20201|      Ramya|  Savings|  SBI|89000.0|
|30303|      Radha|    Fixed|ICICI|56000.0|
|50607|      Sruth|  Current| AXIS|45000.0|
|70007|     Nalini|    Fixed| HDFC|66000.0|
+-----+-----------+---------+-----+-------+
only showing top 20 rows

In [48]:
df.columns

['accId', 'accHoldName', 'typeOfAcc', 'bank', 'amount']

In [49]:
df.registerTempTable("AccData")

In [50]:
spark.sql("show tables").show()

+---------+----------+-----------+
|namespace| tableName|isTemporary|
+---------+----------+-----------+
|         |   accdata|       true|
|         |  emptable|       true|
|         | newnumtab|       true|
|         |newnumtab1|       true|
|         |  numtable|       true|
+---------+----------+-----------+

In [51]:
spark.sql("select bank, count(*) from AccData group by bank").show()

+-----+--------+
| bank|count(1)|
+-----+--------+
| AXIS|       5|
| HDFC|       5|
|  SBI|       6|
|ICICI|       5|
+-----+--------+