In [1]:
import findspark
findspark.init()
findspark.find()
import pyspark

In [2]:
from pyspark.sql import SparkSession
# from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType

In [3]:
# import os

# os.environ["HADOOP_HOME"] = "C:\\spark-3.5.6-bin-hadoop3"
# os.environ["PATH"] += os.pathsep + "C:\\spark-3.5.6-bin-hadoop3\\bin"

In [4]:
spark = SparkSession.builder.appName("ScalaToPySpark").getOrCreate()
sc = spark.sparkContext

In [5]:
file = spark.read.csv("empData.csv")

In [6]:
file.columns

['_c0', '_c1', '_c2']

In [7]:
file.show()

+----+-------+-----+
| _c0|    _c1|  _c2|
+----+-------+-----+
|1000|  Gopal|12000|
|1001|Krishna|14000|
|1002|   Ravi|16000|
|1002|  Ramya|24000|
|1003| Rakesh|34000|
|1004| Rajesh|22000|
|1005|Mounika|24000|
|1006| Sravya|26000|
|1007|   Siya|24000|
|1008| Bhavya|30000|
|1009|Trinath|34000|
+----+-------+-----+

In [8]:
file.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [9]:
file.write.mode("overwrite").json("data.json")

In [10]:
file.write.mode("overwrite").csv("data.csv")

In [11]:
file.write.mode("overwrite").orc("data.orc")

In [12]:
file.createOrReplaceTempView("filetab")

In [13]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |  filetab|       true|
+---------+---------+-----------+

In [14]:
newfile = spark.sql("SELECT * FROM filetab where _c2 > 24000")

In [15]:
file.show()

+----+-------+-----+
| _c0|    _c1|  _c2|
+----+-------+-----+
|1000|  Gopal|12000|
|1001|Krishna|14000|
|1002|   Ravi|16000|
|1002|  Ramya|24000|
|1003| Rakesh|34000|
|1004| Rajesh|22000|
|1005|Mounika|24000|
|1006| Sravya|26000|
|1007|   Siya|24000|
|1008| Bhavya|30000|
|1009|Trinath|34000|
+----+-------+-----+

In [16]:
newfile.show()

+----+-------+-----+
| _c0|    _c1|  _c2|
+----+-------+-----+
|1003| Rakesh|34000|
|1006| Sravya|26000|
|1008| Bhavya|30000|
|1009|Trinath|34000|
+----+-------+-----+

In [17]:
newfile.write.mode("append").csv("empData")

In [18]:
newfile.write.mode("overwrite").csv("empData")

In [19]:
jfile = spark.read.json("inputData.json")

In [20]:
jfile.show()

+-----------+----+--------------+-------------+--------+------------+
|    Address| Age|          Desg|        State|YrsOfExp|        name|
+-----------+----+--------------+-------------+--------+------------+
|  Hyderabad|NULL|           STA|    Telangana|    12.5|       Gopal|
|  Bangalore|   6|          NULL|    Karnataka|    NULL|     Mounika|
|    Chennai|  22|   Sw Engineer|    TamilNadu|     1.2|       Ramya|
|  Hyderabad|NULL|            TA|    Telangana|    12.5|      Sekhar|
|  Bangalore|  12|          NULL|    Karnataka|    NULL|      Reshma|
|       Pune|  22|   Sw Engineer|   Maharastra|     1.2|       Ramya|
|  Hyderabad|NULL|Senior Analyst|    Telangana|     9.5| Ravichandra|
|  Bangalore|  18|          NULL|    Karnataka|    NULL|     Meghana|
|      Delhi|  22|   Sw Engineer|        Delhi|     1.2|      Ravali|
|  Hyderabad|NULL|           STA|    Telangana|    12.5| MahaLakshmi|
|  Bangalore|   6|          NULL|    Karnataka|    NULL|SouravMishra|
|     Indore|  22|   Sw Engineer|MadhyaPradesh|     1.2|       Ramya|
|  Hyderabad|NULL|           STA|    Telangana|    12.5|       Gopal|
|  Bangalore|  34|          NULL|    Karnataka|    NULL|     Mounika|
|    Chennai|  22|   Sw Engineer|AndhraPradesh|     1.2|       Ramya|
|  Hyderabad|NULL|           STA|    Telangana|    12.5|       Gopal|
|  Hyderabad|  40|          NULL|    Telangana|    NULL|     Raghava|
|    Chennai|  32|          NULL|    Telangana|    NULL|       Raaji|
|   Warangal|NULL|           STA|    Telangana|    12.5|       Gopal|
|Tiruvendram|  38|          NULL|       Kerala|    NULL|   Mahildhar|
+-----------+----+--------------+-------------+--------+------------+
only showing top 20 rows

In [21]:
jfile.columns

['Address', 'Age', 'Desg', 'State', 'YrsOfExp', 'name']

In [22]:
jfile.printSchema()

root
 |-- Address: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Desg: string (nullable = true)
 |-- State: string (nullable = true)
 |-- YrsOfExp: double (nullable = true)
 |-- name: string (nullable = true)