In [1]:
import findspark
findspark.init()
findspark.find()
import pyspark

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, max, min, sum, mean
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType

In [ ]:
# import os

# os.environ["HADOOP_HOME"] = "C:\\spark-3.5.6-bin-hadoop3"
# os.environ["PATH"] += os.pathsep + "C:\\spark-3.5.6-bin-hadoop3\\bin"

In [3]:
spark = SparkSession.builder.appName("ScalaToPySpark").getOrCreate()
sc = spark.sparkContext

In [4]:
file = spark.read.csv("empData.csv")

In [5]:
file.columns

['_c0', '_c1', '_c2']

In [6]:
file.show()

+----+-------+-----+
| _c0|    _c1|  _c2|
+----+-------+-----+
|1000|  Gopal|12000|
|1001|Krishna|14000|
|1002|   Ravi|16000|
|1002|  Ramya|24000|
|1003| Rakesh|34000|
|1004| Rajesh|22000|
|1005|Mounika|24000|
|1006| Sravya|26000|
|1007|   Siya|24000|
|1008| Bhavya|30000|
|1009|Trinath|34000|
+----+-------+-----+

In [7]:
file.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [8]:
file.write.mode("overwrite").json("datajson")

In [9]:
file.write.mode("overwrite").csv("datacsv")

In [10]:
file.write.mode("overwrite").orc("dataorc")

In [11]:
file.createOrReplaceTempView("filetab")

In [12]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |  filetab|       true|
+---------+---------+-----------+

In [13]:
newfile = spark.sql("SELECT * FROM filetab where _c2 > 24000")

In [14]:
file.show()

+----+-------+-----+
| _c0|    _c1|  _c2|
+----+-------+-----+
|1000|  Gopal|12000|
|1001|Krishna|14000|
|1002|   Ravi|16000|
|1002|  Ramya|24000|
|1003| Rakesh|34000|
|1004| Rajesh|22000|
|1005|Mounika|24000|
|1006| Sravya|26000|
|1007|   Siya|24000|
|1008| Bhavya|30000|
|1009|Trinath|34000|
+----+-------+-----+

In [15]:
newfile.show()

+----+-------+-----+
| _c0|    _c1|  _c2|
+----+-------+-----+
|1003| Rakesh|34000|
|1006| Sravya|26000|
|1008| Bhavya|30000|
|1009|Trinath|34000|
+----+-------+-----+

In [16]:
newfile.write.mode("append").csv("empData")

In [17]:
newfile.write.mode("overwrite").csv("empData")

In [18]:
jfile = spark.read.json("inputData.json")

In [19]:
jfile.show()

+-----------+----+--------------+-------------+--------+------------+
|    Address| Age|          Desg|        State|YrsOfExp|        name|
+-----------+----+--------------+-------------+--------+------------+
|  Hyderabad|NULL|           STA|    Telangana|    12.5|       Gopal|
|  Bangalore|   6|          NULL|    Karnataka|    NULL|     Mounika|
|    Chennai|  22|   Sw Engineer|    TamilNadu|     1.2|       Ramya|
|  Hyderabad|NULL|            TA|    Telangana|    12.5|      Sekhar|
|  Bangalore|  12|          NULL|    Karnataka|    NULL|      Reshma|
|       Pune|  22|   Sw Engineer|   Maharastra|     1.2|       Ramya|
|  Hyderabad|NULL|Senior Analyst|    Telangana|     9.5| Ravichandra|
|  Bangalore|  18|          NULL|    Karnataka|    NULL|     Meghana|
|      Delhi|  22|   Sw Engineer|        Delhi|     1.2|      Ravali|
|  Hyderabad|NULL|           STA|    Telangana|    12.5| MahaLakshmi|
|  Bangalore|   6|          NULL|    Karnataka|    NULL|SouravMishra|
|     Indore|  22|   Sw Engineer|MadhyaPradesh|     1.2|       Ramya|
|  Hyderabad|NULL|           STA|    Telangana|    12.5|       Gopal|
|  Bangalore|  34|          NULL|    Karnataka|    NULL|     Mounika|
|    Chennai|  22|   Sw Engineer|AndhraPradesh|     1.2|       Ramya|
|  Hyderabad|NULL|           STA|    Telangana|    12.5|       Gopal|
|  Hyderabad|  40|          NULL|    Telangana|    NULL|     Raghava|
|    Chennai|  32|          NULL|    Telangana|    NULL|       Raaji|
|   Warangal|NULL|           STA|    Telangana|    12.5|       Gopal|
|Tiruvendram|  38|          NULL|       Kerala|    NULL|   Mahildhar|
+-----------+----+--------------+-------------+--------+------------+
only showing top 20 rows

In [20]:
jfile.columns

['Address', 'Age', 'Desg', 'State', 'YrsOfExp', 'name']

In [21]:
jfile.printSchema()

root
 |-- Address: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Desg: string (nullable = true)
 |-- State: string (nullable = true)
 |-- YrsOfExp: double (nullable = true)
 |-- name: string (nullable = true)

In [22]:
jsondf = spark.read.json("youtubeData.json")

In [ ]:
# jsondf.show() # Error comes because this json document is not properly formatted

In [23]:
orcdf = spark.read.orc("C:\\Users\\aksha\\Pyspark\\dataorc\\part-00000-8ec4fa97-d92a-404e-a605-d18683091325-c000.snappy.orc")

In [24]:
orcdf.columns

['_c0', '_c1', '_c2']

In [25]:
orcdf.show()

+----+-------+-----+
| _c0|    _c1|  _c2|
+----+-------+-----+
|1000|  Gopal|12000|
|1001|Krishna|14000|
|1002|   Ravi|16000|
|1002|  Ramya|24000|
|1003| Rakesh|34000|
|1004| Rajesh|22000|
|1005|Mounika|24000|
|1006| Sravya|26000|
|1007|   Siya|24000|
|1008| Bhavya|30000|
|1009|Trinath|34000|
+----+-------+-----+

In [26]:
orcdf.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [27]:
parquetdf = spark.read.parquet("C:/Users/aksha/Pyspark/dataparquet")

In [28]:
parquetdf.show()

+----+-------+-----+
| _c0|    _c1|  _c2|
+----+-------+-----+
|1001|Krishna|14000|
|1005|Mounika|24000|
|1009|Trinath|34000|
|1003| Rakesh|34000|
|1004| Rajesh|22000|
|1006| Sravya|26000|
|1008| Bhavya|30000|
|1002|  Ramya|24000|
|1000|  Gopal|12000|
|1002|   Ravi|16000|
|1007|   Siya|24000|
+----+-------+-----+

In [29]:
file2 = spark.read.csv("empData.csv")

In [30]:
file2.columns

['_c0', '_c1', '_c2']

In [31]:
file2.select('_c0','_c1').show()

+----+-------+
| _c0|    _c1|
+----+-------+
|1000|  Gopal|
|1001|Krishna|
|1002|   Ravi|
|1002|  Ramya|
|1003| Rakesh|
|1004| Rajesh|
|1005|Mounika|
|1006| Sravya|
|1007|   Siya|
|1008| Bhavya|
|1009|Trinath|
+----+-------+

In [32]:
file2[['_c0', '_c1']].show()

+----+-------+
| _c0|    _c1|
+----+-------+
|1000|  Gopal|
|1001|Krishna|
|1002|   Ravi|
|1002|  Ramya|
|1003| Rakesh|
|1004| Rajesh|
|1005|Mounika|
|1006| Sravya|
|1007|   Siya|
|1008| Bhavya|
|1009|Trinath|
+----+-------+

In [33]:
# 2️⃣ Using column objects with df["colName"]
file2.select(file2["_c0"], file2["_c1"]).show()

+----+-------+
| _c0|    _c1|
+----+-------+
|1000|  Gopal|
|1001|Krishna|
|1002|   Ravi|
|1002|  Ramya|
|1003| Rakesh|
|1004| Rajesh|
|1005|Mounika|
|1006| Sravya|
|1007|   Siya|
|1008| Bhavya|
|1009|Trinath|
+----+-------+

In [34]:
# 3️⃣ Using col() from functions
file2.select(col("_c0"), col("_c1")).show()

+----+-------+
| _c0|    _c1|
+----+-------+
|1000|  Gopal|
|1001|Krishna|
|1002|   Ravi|
|1002|  Ramya|
|1003| Rakesh|
|1004| Rajesh|
|1005|Mounika|
|1006| Sravya|
|1007|   Siya|
|1008| Bhavya|
|1009|Trinath|
+----+-------+

In [35]:
file2.selectExpr("_c0 as id", "_c1 as name").show() # using selectExpr can rename coulumns

+----+-------+
|  id|   name|
+----+-------+
|1000|  Gopal|
|1001|Krishna|
|1002|   Ravi|
|1002|  Ramya|
|1003| Rakesh|
|1004| Rajesh|
|1005|Mounika|
|1006| Sravya|
|1007|   Siya|
|1008| Bhavya|
|1009|Trinath|
+----+-------+

In [36]:
csvdf = file2.selectExpr("_c0 as Id", "_c1 as Name","_c2 as Salary")

In [37]:
csvdf.show()

+----+-------+------+
|  Id|   Name|Salary|
+----+-------+------+
|1000|  Gopal| 12000|
|1001|Krishna| 14000|
|1002|   Ravi| 16000|
|1002|  Ramya| 24000|
|1003| Rakesh| 34000|
|1004| Rajesh| 22000|
|1005|Mounika| 24000|
|1006| Sravya| 26000|
|1007|   Siya| 24000|
|1008| Bhavya| 30000|
|1009|Trinath| 34000|
+----+-------+------+

In [38]:
csvdf.where("Salary > 22000").show()

+----+-------+------+
|  Id|   Name|Salary|
+----+-------+------+
|1002|  Ramya| 24000|
|1003| Rakesh| 34000|
|1005|Mounika| 24000|
|1006| Sravya| 26000|
|1007|   Siya| 24000|
|1008| Bhavya| 30000|
|1009|Trinath| 34000|
+----+-------+------+

In [39]:
csvdf.filter("Salary > 22000").show()

+----+-------+------+
|  Id|   Name|Salary|
+----+-------+------+
|1002|  Ramya| 24000|
|1003| Rakesh| 34000|
|1005|Mounika| 24000|
|1006| Sravya| 26000|
|1007|   Siya| 24000|
|1008| Bhavya| 30000|
|1009|Trinath| 34000|
+----+-------+------+

In [40]:
csvdf.filter("Salary > 22000 and Salary <30000").show()

+----+-------+------+
|  Id|   Name|Salary|
+----+-------+------+
|1002|  Ramya| 24000|
|1005|Mounika| 24000|
|1006| Sravya| 26000|
|1007|   Siya| 24000|
+----+-------+------+

In [41]:
csvdf.filter("Salary > 22000 or Salary <30000").show()

+----+-------+------+
|  Id|   Name|Salary|
+----+-------+------+
|1000|  Gopal| 12000|
|1001|Krishna| 14000|
|1002|   Ravi| 16000|
|1002|  Ramya| 24000|
|1003| Rakesh| 34000|
|1004| Rajesh| 22000|
|1005|Mounika| 24000|
|1006| Sravya| 26000|
|1007|   Siya| 24000|
|1008| Bhavya| 30000|
|1009|Trinath| 34000|
+----+-------+------+

In [42]:
csvdf.orderBy("Name").show()

+----+-------+------+
|  Id|   Name|Salary|
+----+-------+------+
|1008| Bhavya| 30000|
|1000|  Gopal| 12000|
|1001|Krishna| 14000|
|1005|Mounika| 24000|
|1004| Rajesh| 22000|
|1003| Rakesh| 34000|
|1002|  Ramya| 24000|
|1002|   Ravi| 16000|
|1007|   Siya| 24000|
|1006| Sravya| 26000|
|1009|Trinath| 34000|
+----+-------+------+

In [43]:
csvdf.orderBy(col("Name").desc()).show()

+----+-------+------+
|  Id|   Name|Salary|
+----+-------+------+
|1009|Trinath| 34000|
|1006| Sravya| 26000|
|1007|   Siya| 24000|
|1002|   Ravi| 16000|
|1002|  Ramya| 24000|
|1003| Rakesh| 34000|
|1004| Rajesh| 22000|
|1005|Mounika| 24000|
|1001|Krishna| 14000|
|1000|  Gopal| 12000|
|1008| Bhavya| 30000|
+----+-------+------+

In [44]:
csvdf.orderBy(col("Name")).show()

+----+-------+------+
|  Id|   Name|Salary|
+----+-------+------+
|1008| Bhavya| 30000|
|1000|  Gopal| 12000|
|1001|Krishna| 14000|
|1005|Mounika| 24000|
|1004| Rajesh| 22000|
|1003| Rakesh| 34000|
|1002|  Ramya| 24000|
|1002|   Ravi| 16000|
|1007|   Siya| 24000|
|1006| Sravya| 26000|
|1009|Trinath| 34000|
+----+-------+------+

In [45]:
csvdf.sort('Name').show()

+----+-------+------+
|  Id|   Name|Salary|
+----+-------+------+
|1008| Bhavya| 30000|
|1000|  Gopal| 12000|
|1001|Krishna| 14000|
|1005|Mounika| 24000|
|1004| Rajesh| 22000|
|1003| Rakesh| 34000|
|1002|  Ramya| 24000|
|1002|   Ravi| 16000|
|1007|   Siya| 24000|
|1006| Sravya| 26000|
|1009|Trinath| 34000|
+----+-------+------+

In [46]:
file1 = sc.textFile("AccountDetails.txt")

In [47]:
splitFile =  file1.map(lambda x: x.split(","))

In [48]:
schema = StructType([
    StructField("accId", IntegerType(), True),
    StructField("accHoldName", StringType(), True),
    StructField("typeOfAcc", StringType(), True),
    StructField("bank", StringType(), True),
    StructField("amount", DoubleType(), True),    
])

In [49]:
mappingFile = splitFile.map(lambda x: (int(x[0].strip()) if x[0].strip().isdigit() else 0,
                                       x[1],
                                       x[2],
                                       x[3],
                                       float(x[4].strip()) if x[4].strip().isdigit() else 0.0))

In [50]:
df = spark.createDataFrame(mappingFile, schema=schema)

In [51]:
df.show()

+-----+-----------+---------+-----+-------+
|accId|accHoldName|typeOfAcc| bank| amount|
+-----+-----------+---------+-----+-------+
|10101|      Gopal|  Savings|ICICI|50000.0|
|10201|    Krishna|  Current|  SBI|56000.0|
|10301|       Ravi|  Savings| HDFC|67000.0|
|20201|      Ramya|  Savings|  SBI|89000.0|
|30303|      Radha|    Fixed|ICICI|56000.0|
|50607|      Sruth|  Current| AXIS|45000.0|
|70007|     Nalini|    Fixed| HDFC|66000.0|
|33333|        Raj|  Savings| AXIS|59500.0|
|20201|      Ramya|  Savings|  SBI|89000.0|
|55303|     Rakhee|    Fixed|ICICI|56000.0|
|50607|   Santhosh|  Current| AXIS|45000.0|
|88007|     Nandha|    Fixed| HDFC|65900.0|
|44333|        Raj|  Savings|  SBI|79500.0|
|10101|      Gopal|  Savings|ICICI|50000.0|
|10201|    Krishna|  Current|  SBI|56000.0|
|10301|       Ravi|  Savings| HDFC|67000.0|
|20201|      Ramya|  Savings|  SBI|89000.0|
|30303|      Radha|    Fixed|ICICI|56000.0|
|50607|      Sruth|  Current| AXIS|45000.0|
|70007|     Nalini|    Fixed| HDFC|66000.0|
+-----+-----------+---------+-----+-------+
only showing top 20 rows

In [52]:
df.groupBy("bank").count().show()

+-----+-----+
| bank|count|
+-----+-----+
| AXIS|    5|
| HDFC|    5|
|  SBI|    6|
|ICICI|    5|
+-----+-----+

In [53]:
df.groupBy("bank").max("amount").show()

+-----+-----------+
| bank|max(amount)|
+-----+-----------+
| AXIS|    59500.0|
| HDFC|    67000.0|
|  SBI|    89000.0|
|ICICI|    56000.0|
+-----+-----------+

In [54]:
df.groupBy("bank").mean("amount").show()

+-----+-----------------+
| bank|      avg(amount)|
+-----+-----------------+
| AXIS|          50800.0|
| HDFC|          66380.0|
|  SBI|76416.66666666667|
|ICICI|          53600.0|
+-----+-----------------+

In [55]:
df.groupBy("bank").min("amount").show()

+-----+-----------+
| bank|min(amount)|
+-----+-----------+
| AXIS|    45000.0|
| HDFC|    65900.0|
|  SBI|    56000.0|
|ICICI|    50000.0|
+-----+-----------+

In [56]:
data = sc.parallelize(range (1,30))

In [57]:
mapdata = data.map(lambda x: (x, x * x))

In [58]:
mapdata.toDebugString()

b'(16) PythonRDD[160] at RDD at PythonRDD.scala:53 []\n |   ParallelCollectionRDD[159] at readRDDFromFile at PythonRDD.scala:289 []'

In [59]:
file = sc.textFile("file:///C://Users/aksha/Pyspark/Input.log")

In [60]:
wordcount = file.flatMap(lambda x: x.split()).map(lambda x: (x, 1)).reduceByKey(lambda a, b: a + b).sortBy(lambda x: x[0])

In [61]:
wordcount.toDebugString()

b'(2) PythonRDD[173] at RDD at PythonRDD.scala:53 []\n |  MapPartitionsRDD[172] at mapPartitions at PythonRDD.scala:160 []\n |  ShuffledRDD[171] at partitionBy at NativeMethodAccessorImpl.java:0 []\n +-(2) PairwiseRDD[170] at sortBy at C:\\Users\\aksha\\AppData\\Local\\Temp\\ipykernel_9664\\1772569709.py:1 []\n    |  PythonRDD[169] at sortBy at C:\\Users\\aksha\\AppData\\Local\\Temp\\ipykernel_9664\\1772569709.py:1 []\n    |  MapPartitionsRDD[166] at mapPartitions at PythonRDD.scala:160 []\n    |  ShuffledRDD[165] at partitionBy at NativeMethodAccessorImpl.java:0 []\n    +-(2) PairwiseRDD[164] at reduceByKey at C:\\Users\\aksha\\AppData\\Local\\Temp\\ipykernel_9664\\1772569709.py:1 []\n       |  PythonRDD[163] at reduceByKey at C:\\Users\\aksha\\AppData\\Local\\Temp\\ipykernel_9664\\1772569709.py:1 []\n       |  file:///C://Users/aksha/Pyspark/Input.log MapPartitionsRDD[162] at textFile at NativeMethodAccessorImpl.java:0 []\n       |  file:///C://Users/aksha/Pyspark/Input.log HadoopRDD[161] at textFile at NativeMethodAccessorImpl.java:0 []'

In [62]:
df.agg(max("amount"),min("amount"),sum("amount"),mean("amount")).show()

+-----------+-----------+-----------+-----------------+
|max(amount)|min(amount)|sum(amount)|      avg(amount)|
+-----------+-----------+-----------+-----------------+
|    89000.0|    45000.0|  1312400.0|62495.23809523809|
+-----------+-----------+-----------+-----------------+

In [63]:
df.describe().show()

+-------+-----------------+-----------+---------+----+-----------------+
|summary|            accId|accHoldName|typeOfAcc|bank|           amount|
+-------+-----------------+-----------+---------+----+-----------------+
|  count|               21|         21|       21|  21|               21|
|   mean|34693.28571428572|       NULL|     NULL|NULL|62495.23809523809|
| stddev|23329.69529407287|       NULL|     NULL|NULL|14022.85549346053|
|    min|            10101|      Gopal|  Current|AXIS|          45000.0|
|    max|            88007|      Sruth|  Savings| SBI|          89000.0|
+-------+-----------------+-----------+---------+----+-----------------+

In [64]:
newdf = df.withColumn("ROI",col("amount") * 0.10).show()

+-----+-----------+---------+-----+-------+------+
|accId|accHoldName|typeOfAcc| bank| amount|   ROI|
+-----+-----------+---------+-----+-------+------+
|10101|      Gopal|  Savings|ICICI|50000.0|5000.0|
|10201|    Krishna|  Current|  SBI|56000.0|5600.0|
|10301|       Ravi|  Savings| HDFC|67000.0|6700.0|
|20201|      Ramya|  Savings|  SBI|89000.0|8900.0|
|30303|      Radha|    Fixed|ICICI|56000.0|5600.0|
|50607|      Sruth|  Current| AXIS|45000.0|4500.0|
|70007|     Nalini|    Fixed| HDFC|66000.0|6600.0|
|33333|        Raj|  Savings| AXIS|59500.0|5950.0|
|20201|      Ramya|  Savings|  SBI|89000.0|8900.0|
|55303|     Rakhee|    Fixed|ICICI|56000.0|5600.0|
|50607|   Santhosh|  Current| AXIS|45000.0|4500.0|
|88007|     Nandha|    Fixed| HDFC|65900.0|6590.0|
|44333|        Raj|  Savings|  SBI|79500.0|7950.0|
|10101|      Gopal|  Savings|ICICI|50000.0|5000.0|
|10201|    Krishna|  Current|  SBI|56000.0|5600.0|
|10301|       Ravi|  Savings| HDFC|67000.0|6700.0|
|20201|      Ramya|  Savings|  SBI|89000.0|8900.0|
|30303|      Radha|    Fixed|ICICI|56000.0|5600.0|
|50607|      Sruth|  Current| AXIS|45000.0|4500.0|
|70007|     Nalini|    Fixed| HDFC|66000.0|6600.0|
+-----+-----------+---------+-----+-------+------+
only showing top 20 rows